<div class="modal-body">
  <div class="row ml-0 mr-0 mt-4">
    <div class="col-12">
      <h3>{{algoInstanceData.AlgoInstanceType === iAlgoInstanceType.Demo ? 'Demo run of' : 'Backtest'}} an algo</h3>
    </div>
    <div class="row ml-0 mr-0">
      <div class="col-12">
        <p>We will need some additional data before we proceed with the run. </p>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="algoInstanceForm">
      <div class="row ml-0 mr-0 mb-3">
        <div class="col-12">
          <div class="form-group">
            <label for="instance-name" class="font-weight-semibold">Name</label>
            <input type="text" name="name" id="instance-name" class="form-control" formControlName="InstanceName" placeholder="My Moving Average Cross v1.0">
            <div *ngIf="algoInstanceForm.get('InstanceName').invalid && algoInstanceForm.dirty"
                 class="text-danger">
              <div *ngIf="algoInstanceForm.get('InstanceName').errors['required']">
                Please enter a name
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="trade-asset" class="font-weight-semibold">{{tradeAsset}} balance</label>
            <input type="text" name="name" id="trade-asset" class="form-control" formControlName="FakeTradingTradingAssetBalance">
            <div *ngIf="algoInstanceForm.get('FakeTradingTradingAssetBalance').invalid && algoInstanceForm.dirty"
                 class="text-danger">
              <div *ngIf="algoInstanceForm.get('FakeTradingTradingAssetBalance').errors['required']">
                The balance is required
              </div>
              <div *ngIf="algoInstanceForm.get('FakeTradingTradingAssetBalance').errors['min']">
                The minimum balance is 0
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="asset-two" class="font-weight-semibold">{{assetTwo}} balance</label>
            <input type="text" name="name" id="asset-two" class="form-control" formControlName="FakeTradingAssetTwoBalance">
            <div *ngIf="algoInstanceForm.get('FakeTradingAssetTwoBalance').invalid && algoInstanceForm.dirty"
                 class="text-danger">
              <div *ngIf="algoInstanceForm.get('FakeTradingAssetTwoBalance').errors['required']">
                The balance is required
              </div>
              <div *ngIf="algoInstanceForm.get('FakeTradingAssetTwoBalance').errors['min']">
                The minimum balance is 0
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ml-0 mr-0 text-center">
        <div class="col-12 mb-3">
          <button type="submit" class="btn btn-primary"[disabled]="loader"><i *ngIf="loader" class="icon--spin animate-spin"></i>{{algoInstanceData.AlgoInstanceType === iAlgoInstanceType.Demo ? 'Run Demo' : 'Backtest'}}</button>
        </div>
        <div class="col-12">
          <a href="javascript:;" (click)="modalRef.hide()" class="link-style">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
