<footer class="footer bg-pale-grey-two">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-6 text-center text-lg-left">
        <p class="small text-cool-grey">© 2018 Lykke, Inc. · <a class="text-brownish-grey" href="https://www.lykke.com/privacy_policy">Privacy Policy</a> · <a class="text-brownish-grey" href="https://www.lykke.com/terms_of_use">Terms of Use</a></p>
      </div>

      <nav class="social-nav col-lg-6 text-center text-lg-right">
        <a href="https://www.facebook.com/LykkeCity" target="_blank"><i class="icon icon--facebook"></i></a>
        <a href="https://twitter.com/lykke" target="_blank"><i class="icon icon--twitter"></i></a>
        <a href="http://instagram.com/lykkecity" target="_blank"><i class="icon icon--instagram"></i></a>
        <a href="https://www.youtube.com/c/LykkeX" target="_blank"><i class="icon icon--youtube"></i></a>
        <a href="https://www.linkedin.com/company/lykke" target="_blank"><i class="icon icon--linkedin"></i></a>
        <a href="https://www.reddit.com/r/lykke/" target="_blank"><i class="icon icon--reddit"></i></a>
        <a href="https://t.co/TmjMYnQD7T" target="_blank"><i class="icon icon--telegram"></i></a>
        <a href="http://lykkecommunity.herokuapp.com" target="_blank"><i class="icon icon--slack"></i></a>
      </nav>

    </div>
  </div>
</footer>
