<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <div class="copy-wrapper pull-left">
          <p>&copy; Lykke 2017. All rights reserved</p>
        </div>
        <nav class="main-footer-nav pull-left">
          <a href="https://www.lykke.com/terms_of_use" target="_blank">Terms of Use</a>
        </nav>
      </div>
      <div class="col-xs-7">
          <nav class="social-nav">
            <a href="https://www.facebook.com/LykkeCity" target="_blank"><i class="icon icon--fb"></i></a>
            <a href="https://twitter.com/lykke" target="_blank"><i class="icon icon--tw"></i></a>
            <a href="http://instagram.com/lykkecity" target="_blank"><i class="icon icon--instagram"></i></a>
            <a href="https://www.youtube.com/c/LykkeX" target="_blank"><i class="icon icon--youtube"></i></a>
            <a href="https://www.linkedin.com/company/lykke" target="_blank"><i class="icon icon--linkedin"></i></a>
            <a href="https://www.reddit.com/r/lykke/" target="_blank"><i class="icon icon--reddit"></i></a>
            <a href="https://t.co/TmjMYnQD7T" target="_blank"><i class="icon icon--telegram"></i></a>
            <a href="http://lykkecommunity.herokuapp.com" target="_blank"><i class="icon icon--slack"></i></a>
          </nav>
      </div>
    </div>
  </div>
</footer>

