<div class="profile-holder container text-center" *ngIf="userInfo">
  <div class="row mt-5">
    <div class="col-12">
      <img src="../../../assets/images/user_default_gray.svg" width="100px">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h2>{{userInfo.FullName}}</h2>
    </div>
    <div class="col-12 text-muted email-holder">
      <p>{{userInfo.Email}}</p>
    </div>
  </div>
  <div class="row mt-4" *ngIf="permissions.canAssignRoles">
    <div class="col-12">
      <button class="btn btn-primary" (click)="openRoleModal()">Assign New Role</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="offset-4 col-8 pl-0 text-left">
      <h5>Active roles</h5>
    </div>
  </div>
  <div class="row" *ngFor="let role of userInfo.Roles">
    <div class="offset-4 col-2 pl-0 role-row role-row align-self-center d-flex justify-content-start">
      {{role.Name}}
    </div>
    <div class="col-2 role-row align-self-center d-flex justify-content-end" *ngIf="permissions.canRevokeRoles">
      <div class="delete-icon-holder cursor-pointer" (click)="revokeRole(role.Id)"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <a routerLink="/users-acl/users" class="link-style font-weight-semibold">Back</a>
    </div>
  </div>
</div>

<app-loader [ready]="userInfo"></app-loader>
