@import '~scss/reuse';

ul.dropdown-menu {
  left: 280px !important;
  top: 60% !important;
}

::ng-deep .popover {
  max-width: 300px;
  color: $slate;
  background-color: $white;
  border: 1px solid lightgray;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
