<div class="container">
  <div class="details-holder mt-60">
    <div class="row">
      <div class="col-8 text-left">
        <h3>{{algo.Name}}</h3>
      </div>
      <div class="col-4 text-right action-buttons">
        <span class="ml-3 cursor-pointer text-muted" (click)="runDemo()"><img src="../../../assets/images/store/run-demo-icon.svg"> <span>Run demo</span></span>
        <span class="ml-3 cursor-pointer text-muted" (click)="backtest()"><img src="../../../assets/images/store/backtest-icon.svg"> <span>Backtest</span></span>
        <span class="ml-3 cursor-pointer text-muted" (click)="goLive()"><img src="../../../assets/images/store/play-run-icon.svg"> <span>Go Live</span></span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12 action-buttons">
        <span class="cursor-pointer" [routerLink]="['/store' , 'algo-details', algo['ClientId'], algo['AlgoId']]">View Public profile</span> • <span class="cursor-pointer" (click)="resetDefault()">Reset to Default Values</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="main-content">
    <div class="row">
      <div class="col-8">
        <app-code-editor [config]="{sourceCode: algo.Data}"></app-code-editor>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="metadata-holder mb-5">
              <div class="row">
                <div class="col-8 text-left">
                  <h5>Metadata Attributes</h5>
                </div>
                <div class="col-4 text-right">
                  <span class="show-all-button font-weight-semibold"><a href="javascript:;">Show all</a></span>
                </div>
              </div>
              <hr class="mt-0">
              <form>
                <div class="row meta-row" *ngFor="let param of algo.AlgoMetaDataInformation?.Parameters">
                  <div class="col-12 metadata-name">
                    <div class="form-group mb-0">
                      <div class="metadata-key"><label for="{{param.Key}}">{{param.Key}}</label></div>

                      <div *ngIf="param.Type === 'String'">
                        <input type="text" class="form-control" [(ngModel)]="param.Value" id="{{param.Key}}" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div *ngIf="param.Type === 'int'">
                        <input type="number" class="form-control" [(ngModel)]="param.Value" id="{{param.Key}}" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div *ngIf="param.Type === 'enum'">
                        <select type="number" class="form-control" [(ngModel)]="param.Value" id="{{param.Key}}" [ngModelOptions]="{standalone: true}">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngFor="let func of algo.AlgoMetaDataInformation?.Functions">
                  <div *ngFor="let param of func.Parameters" class="col-12">
                    <div class="row meta-row">
                      <div class="col-12 metadata-name">
                        <div class="form-group mb-0">
                          <div class="metadata-key"><label for="{{func.Id}}-{{param.Key}}">{{func.Id}}.{{param.Key}}</label></div>

                          <div *ngIf="param.Type === 'String'">
                            <input type="text" class="form-control" [(ngModel)]="param.Value" id="{{func.Id}}-{{param.Key}}" [ngModelOptions]="{standalone: true}">
                          </div>

                          <div *ngIf="param.Type === 'int'">
                            <input type="number" class="form-control" [(ngModel)]="param.Value" id="{{func.Id}}-{{param.Key}}" [ngModelOptions]="{standalone: true}">
                          </div>

                          <div *ngIf="param.Type === 'enum'">
                            <select type="number" class="form-control" [(ngModel)]="param.Value" id="{{func.Id}}-{{param.Key}}" [ngModelOptions]="{standalone: true}">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 pl-0">
              <div class="instances-holder">
                <div class="row">
                  <div class="col-8 text-left">
                    <h5>Running instances</h5>
                  </div>
                  <div class="col-4 text-right">
                    <span class="show-all-button font-weight-semibold"><a href="javascript:;">Show all</a></span>
                  </div>
                </div>
                <div class="row instances-row" *ngFor="let instance of instancesArray">
                  <div class="col-9">
                    <div class="instance-date">{{instance.Name}}</div>
                    <div class="text-muted fs-1r">{{instance.Type}} • {{instance.Status}}</div>
                  </div>
                  <div class="col-3 text-center">
                    <div class="delete-icon-holder cursor-pointer" (click)="deleteInstance(instance.Id)"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
