<div class="container" *ngIf="algo">
  <div class="details-holder mt-60">
    <div class="row">
      <div class="col-8 text-left">
        <h3>{{algo.Name}}</h3>
      </div>
      <div class="col-4 text-right action-buttons">
        <span class="ml-3 cursor-pointer text-muted" (click)="runDemo()"><img
          src="../../../assets/images/store/run-demo-icon.svg"> <span>Run demo</span></span>
        <span class="ml-3 cursor-pointer text-muted" (click)="backtest()" *ngIf="permissions.canRunBacktest && algo.AlgoVisibility === iAlgoVisibility.Public"><img
          src="../../../assets/images/store/backtest-icon.svg"> <span [popover]="popoverTemplate" [outsideClick]="true"
                                                                      placement="bottom" container="body"
                                                                      triggers="mouseenter:mouseleave">Backtest</span></span>
        <span dropdown class="ml-3 cursor-pointer text-muted" *ngIf="permissions.canRunInstance && algo.AlgoVisibility === iAlgoVisibility.Public">
          <img src="../../../assets/images/store/play-run-icon.svg">
          <span dropdownToggle>Go Live</span>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let wallet of wallets">
              <a class="dropdown-item" href="javascript:;" (click)="goLive(wallet)"><img
                src="../../../assets/images/store/wallet-icon.svg"><span class="ml-1">{{wallet.Name}}</span></a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12 action-buttons">
        <span class="cursor-pointer" [routerLink]="['/store' , 'algo-details', algo.ClientId, algo.AlgoId]">View Public profile</span>
        • <span class="cursor-pointer" (click)="resetDefault()">Reset to Default Values</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="main-content">
    <div class="row">
      <div class="col-8">
        <app-code-editor [config]="{sourceCode: algo.Content}"></app-code-editor>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="metadata-holder mb-5">
              <div class="row">
                <div class="col-8 text-left">
                  <h5>Metadata Attributes</h5>
                </div>
              </div>
              <hr class="mt-0">
              <form *ngIf="showMetadataForm" [formGroup]="metadataForm">
                <app-edit-metadata-attribute class="meta-row edit-row" [form]="metadataForm.controls['Parameters']"
                                             [metadataProperty]="param"
                                             *ngFor="let param of algo.AlgoMetaDataInformation?.Parameters"></app-edit-metadata-attribute>
                <div *ngFor="let func of algo.AlgoMetaDataInformation?.Functions">
                  <app-edit-metadata-attribute class="meta-row edit-row"
                                               [form]="metadataForm.controls['Functions'].controls[func.Id]"
                                               [formName]="func.Id" [metadataProperty]="param"
                                               *ngFor="let param of func.Parameters"></app-edit-metadata-attribute>
                </div>
              </form>
            </div>
            <div class="col-12 pl-0" *ngIf="instancesArray && instancesArray.length && permissions.canSeeInstances">
              <app-algo-instance-list [algoId]="algo.AlgoId" [instancesArray]="instancesArray"></app-algo-instance-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader [ready]="algo"></app-loader>


<ng-template #popoverTemplate>
  <span>Please note that you won’t be charged any fees for performing a backtest. Keep in mind that backtest uses only Candles History information.</span>
</ng-template>
