.running-instance, .stopped-instance, .deploying-instance {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.running-instance {
  background-color: #2ecca1;
}

.stopped-instance {
  background-color: #ff3e2e;
}

.deploying-instance {
  background-color: #8c94a0;
}

::ng-deep {
  .tooltip-inner {
    max-width: 500px
  }

  .block-cell {
    .datatable-body-cell-label {
      display: block !important;
    }
  }
}
