@import './scss/bootstrap';
@import './scss/custom-mixins';
@import './scss/fonts';
@import './scss/icons';
@import './scss/typography';
@import './scss/curtain';
@import "./scss/editor";
@import './scss/ngx-datatable-theme';
@import './scss/algo-datepicker';
@import './scss/custom-variables';
@import "./scss/form-controls";
@import "./scss/comments-editor-styles";

// 3RD PARTY
@import "~css-star-rating/scss/star-rating";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.core.css";
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  height: 100%;
  min-height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.break-all {
  word-break: break-all;
}

.break-word {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

button[disabled] {
  pointer-events: auto;
  cursor: not-allowed;
}

.bs-popover-bottom .arrow {
  left: calc(50% - 0.8rem) !important;
}

.splitter-wrapper {
  .tab-container {
    .nav-tabs {
      @extend .container;
    }
  }
}
