html,
body {
  padding: 0;
  margin:0;
  height: 100%;
}

html {
  position: relative;
}

body {
  /*padding-bottom: 150px;*/
  min-height: 100%;
}
.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.mt-20 {
  margin-top: 20px;
}
.mt-83 {
  margin-top: 83px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-10 {
  margin-bottom: 10px;
}
.lkk-icon-wrapper {
  border-radius: 6px;
  border: 1px solid #eee;
  display: inline-block;
  width: 50px;
  height: 50px;
  img {
    width: 100%;
    height: auto;
  }
}
.ss-content {
  width: calc(100% + 17px);
  padding: 0 0 0 0;
  right: 0;
}
.ss-scroll {
  background: #3f4d60;
  width: 4px;
  opacity: 0.3;
}
.ss-container:hover .ss-scroll {
  opacity: 0.3;
}

@for $i from 1 through 50 {
  .mt-#{$i*5} { margin-top: $i * 5px}
  .mb-#{$i*5} { margin-bottom: $i * 5px}
  .ml-#{$i*5} { margin-left: $i * 5px}
  .mr-#{$i*5} { margin-right: $i * 5px}
  .pt-#{$i*5} { padding-top: $i * 5px}
  .pb-#{$i*5} { padding-bottom: $i * 5px}
  .pr-#{$i*5} { padding-right: $i * 5px}
  .pl-#{$i*5} { padding-left: $i * 5px}
}

.small-container {
  width: 600px;
  padding: 0 15px;
  margin: 0 auto;
}

.border-top-gray-light {
  border-top: 1px solid #ebedef;
}
.border-bottom-gray-light {
  border-bottom: 1px solid #ebedef;
}

.relative {
  position: relative;
}

.row {
  &.no-gutters {
  margin: 0;
    [class*='col-'] {
      padding: 0;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.order-book-margin {
  margin-top: 15px;
  margin-bottom: 50px;
}

.display-block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.icon-font-size-20 {
  font-size: 20px;
}

.rating-font-size-9 {
  font-size: 9px;
}
.star-icon:before {
  color: #ffae2c !important;
}
