<div class="row">
  <div class="col-8 text-left">
    <h5>Metadata Attributes</h5>
  </div>
  <div class="col-4 text-right">
    <span class="show-all-button font-weight-semibold" (click)="showAll = !showAll"><a href="javascript:;">{{showAll ? 'Show less' : 'Show all'}}</a></span>
    <span *ngIf="!showAll" tooltip="These may not be all metadata properties. Click 'Show All' for more." container="body"><img src="../../../../assets/images/info.svg" class="info-icon cursor-pointer"></span>
  </div>
</div>
<div class="row meta-row" *ngFor="let param of metadata?.Parameters">
  <div class="col-7 col-lg-8 metadata-name" *ngIf="param.Visible">
    <div class="break-all">{{param.Key}} <span *ngIf="param.Description" [tooltip]="param.Description" container="body"><img src="../../../../assets/images/info.svg" class="info-icon cursor-pointer"></span></div>
    <div class="text-muted metadata-value break-all" *ngIf="param.Type === 'System.DateTime'">{{param.Value ? (param.Value | amParse: 'YYYY-MM-DD[T]HH:mm:ss.SSS[Z]' | amDateFormat: displayDateFormat ) : ''}}</div>
    <div class="text-muted metadata-value break-all" *ngIf="param.Type !== 'System.DateTime'">{{param.DisplayValue ? param.DisplayValue : param.Value}}</div>
  </div>
  <div class="col-5 col-lg-4 text-right cursor-pointer" *ngIf="param.Visible">
    <span class="text-muted" (click)="highlight(param)">Find</span>
  </div>
</div>
<div *ngIf="showAll">
  <div class="row" *ngFor="let func of metadata?.Functions">
    <div *ngFor="let param of func.Parameters" class="col-12">
      <div class="row meta-row" *ngIf="param.Visible">
        <div class="col-8 metadata-name">
          <div class="break-all">{{func.Id}}.{{param.Key}} <span *ngIf="param.Description" [tooltip]="param.Description" container="body"><img src="../../../../assets/images/info.svg" class="info-icon cursor-pointer"></span></div>
          <div class="text-muted metadata-value break-all" *ngIf="param.Type === 'System.DateTime'">{{param.Value ? (param.Value | amParse: 'YYYY-MM-DD[T]HH:mm:ss.SSS[Z]' | amDateFormat: displayDateFormat ) : ''}}</div>
          <div class="text-muted metadata-value break-all" *ngIf="param.Type !== 'System.DateTime'">{{param.DisplayValue ? param.DisplayValue : param.Value}}</div>
        </div>
        <div class="col-4 text-right cursor-pointer">
          <span class="text-muted" (click)="highlight(param)">Find</span>
        </div>
      </div>
    </div>
  </div>
</div>

