<div class="modal-body">
  <div class="row margin-0">
    <h3>Assign role to {{userData.FullName}}</h3>
  </div>

  <div class="row">
    <div class="col-12"><h4>Select Role:</h4></div>
  </div>
  <form [formGroup]="roleGroup" (ngSubmit)="save()">
    <div class="form-group">
      <div class="row">
        <div class="col-8">
          <select class="form-control" id="user-acl-edit-modal-roles" formControlName="role">
            <option *ngFor="let role of allRoles" [value]="role.Id">{{role.Name}}</option>
          </select>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary">Add Role</button>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12">
      <h4>Current roles</h4>
    </div>
    <div class="col-12">
      <span *ngFor="let item of userData.Roles">
        <label class="label label-tiffany">{{item.Name}}</label>
      </span>
    </div>
  </div>
</div>
