@import '~scss/reuse';
:host {
  padding: 10px 0;
  align-items: center;
  display: block;

  //&:hover {
  //  background-color: $pale-grey-two;
  //}

  .metadata-key {
    font-size: 1.125rem;
    font-weight: $font-weight-semibold;
  }
}

.form-control {
  padding: 0.657rem 1.5rem;
}
