<div [ngSwitch]="metadataProperty.Type" [formGroup]="form">
  <label class="metadata-key">
    <span *ngIf="formName">{{formName}}.</span>{{ metadataProperty.Key }}
  </label>
  <div class="form-group" *ngSwitchCase="'System.String'">
    <input class="form-control" type="text" [formControlName]="metadataProperty.Key">
  </div>
  <div *ngSwitchCase="'System.Int32'">
    <input class="form-control" type="number" [formControlName]="metadataProperty.Key">
  </div>
  <div *ngSwitchCase="'System.Double'">
    <input class="form-control" type="number" [formControlName]="metadataProperty.Key">
  </div>
  <div *ngSwitchCase="'enum'">
    <!-- TODO: try to create metadata property of enum type and work this case out here -->
  </div>
  <div *ngSwitchCase="'System.DateTime'">
    <app-date-time-picker [form]="form" [controlName]="metadataProperty.Key"></app-date-time-picker>
  </div>
  <div *ngSwitchDefault>
    <select *ngIf="metadataProperty.PredefinedValues" [formControlName]="metadataProperty.Key" class="custom-select">
      <option [value]="option.Value" *ngFor="let option of metadataProperty.PredefinedValues">{{option.Key}}</option>
    </select>
  </div>
</div>
