$black: #000000;
$dark: #333333;
$gray: #f5f6f7;
$darkGray: #d6d6d6;
$blue: #0da7fc;
$code: #3f4d60;

.gray-bg {
    background-color: $gray;
}

.font-gray {
    color: $darkGray;
}

.font-dark {
    color: $dark;
}