@import '~scss/reuse';

.new-comment-input {
  border: none;
  border-bottom: 1px solid darkgray;
}

::ng-deep .comments-dropdown.dropdown-menu {
  .dropdown-item {
    img {
      vertical-align: baseline;
    }
  }
}

::ng-deep ul.ngx-pagination {
  li, li:hover {
    border-radius: 4px;
  }
}

.dots {
  font-size: 1.5rem;
  font-weight: $font-weight-semibold;
}
