@import '~scss/reuse';

.new-comment-input {
  border: none;
  border-bottom: 1px solid darkgray;
}

.comments-dropdown.dropdown-menu {
  top: 30px !important;
  left: -40px !important;

  .dropdown-item {
    img {
      vertical-align: baseline;
    }
  }
}

.comment-submit-btn {
  padding: 0.257rem 1rem;
}

::ng-deep ul.ngx-pagination {
  li, li:hover {
    border-radius: 4px;
  }
}

.dots {
  font-size: 1.5rem;
  font-weight: $font-weight-semibold;
}
