.new-comment-input {
  border: none;
  border-bottom: 1px solid darkgray;
}

.dropdown-menu {
  top: 25px !important;
}

.comment-submit-btn {
  padding: 0.257rem 1rem;
}

/deep/ ul.ngx-pagination {
  li, li:hover {
    border-radius: 4px;
  }
}
