<div class="container algo-list-placeholder pt-10 pb-30">
  <div class="summary-holder mt-5">
    <div class="row">
      <div class="col-6">
        <h2>Manage roles and permissions</h2>
        <div class="description">
          All users that use the AlgoStore are listed here. You can see their assigned roles, revoke existing or assign new ones.
        </div>
      </div>
      <div class="offset-2 col-4 align-self-end">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-input"><img src="../../../assets/images/search-icon.svg"/></span>
          </div>
          <input class="form-control" type='text' placeholder='Type to filter by name or email' (keyup)='updateFilter($event)' aria-describedby="search-input"/>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col">
      <ngx-datatable
        class="algo-table"
        columnMode="flex"
        [limit]="10"
        [reorderable]="false"
        [loadingIndicator]="loadingIndicator"
        [headerHeight]="50"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [rows]="users">

        <ngx-datatable-column name="Full Name" prop="FullName" [flexGrow]="2">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a [routerLink]="['/users-acl/users', row.ClientId]" *ngIf="permissions.canEditUserRoles">{{value}}</a>
            <p *ngIf="!permissions.canEditUserRoles">{{value}}</p>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email" prop="Email" [flexGrow]="2"></ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="Roles" name="Roles" [flexGrow]="1.5">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span *ngFor="let item of row.Roles; let index = index">
              <label class="label label-{{labelColors[index > 0 ? index % 6 : 0]}}">{{item.Name}} <img src="../../../assets/images/colapse-icon.svg" (click)="revokeRole(item.Id, row.ClientId)" *ngIf="permissions.canRevokeRole"></label>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
