@import "~scss/reuse";

.notice {
  width: 40%;
  left: 30%;
  position: absolute;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 8px 50px 0 rgba(63, 77, 96, 0.4), 0 5px 5px 0 rgba(63, 77, 96, 0.05);
  bottom: 40px;
  padding: 20px 20px 20px 0;

  .holder {
    border-left: 2px solid $azure;
    padding-left: 20px;
  }
}
