<div class="jumbotron">
  <div class="container">
      <div class="legal-notification">
        <div class="header">
          <div class="row mt-5 mr-0 ml-0">
            <div class="col-12 d-flex justify-content-center">
              <div class="logo-holder">
                <img class="logo" src="../../../assets/images/home/gdpr-icn.svg"/>
              </div>
            </div>
          </div>
        </div>
        <div class="body mt-3">
          <div class="row mr-0 ml-0">
            <div class="offset-2 col-8">
              <h3>Dear Customer, </h3>
              <p>
                At Lykke Corp. we care about the protection of your information. Important changes are happening to the
                rules about data - the European Union General Data Protection Regulation or 'GDPR'.
                These come into effect on 25 May 2018 . Even if you are not based in the European Union these may still
                affect you.
              </p>
              <p class="font-weight-semibold">
                We need to let you know about these changes and ensure you are still happy
                that for us to keep in touch with you.
              </p>
              <p>
                If you no longer wish to keep in touch with us or use our services, then simply email us to let us know
                you no longer want to hear from us.
                To continue to use our services and keep up to date with new products and developments we will, however,
                need to be able to keep in touch with you,
                in which case there is nothing further you have to do. Don't worry, if you change your mind you can update
                your preferences at any time.
              </p>
              <p class="font-weight-semibold">
                What's changing:
              </p>
              <p>
                The changes to GDPR don't alter what we use your personal information for, but they are designed to make
                it easier for you to find out how we use and protect your information.
              </p>
              <p>
                The changes to GDPR don't alter what we use your personal information for, but they are designed to make
                it easier for you to find out how we use and protect your information.
                The personal information you provide us is an important part of our service. It lets us provide our
                products and services to you. It also allows you to register and trade on the Lykke platforms. It allows
                us to communicate with you and provide you with information about changes to our services. Importantly,
                your information and getting to know you as a customer helps us prevent and detect fraud, comply with Anti
                Money Laundering and Sanctions Regulations and implement other security measures to protect you, your
                money and your data.
              </p>

            </div>
          </div>
          <div class="row mr-0 ml-0">
            <div class="offset-2 col-8">
              <div class="form-group">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="legal-checkbox" [(ngModel)]="agreed">
                  <label class="custom-control-label cursor-pointer" for="legal-checkbox">I agree that AlgoStore would use my name, email and wallet information in order to provide its service.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer d-flex">
        <div class="row align-items-center mr-0 ml-0">
          <div class="col-6 d-flex justify-content-center">
            <button class="btn btn-primary" [disabled]="!agreed" (click)="agree()">Proceed to Algo Store</button>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <span class="link-style font-weight-semibold" (click)="logout()">No, I disagree</span>
          </div>
        </div>
      </div>
  </div>
</div>

