<div class="container">
  <div class="details-holder mt-60">
    <div class="row mb-2">
      <div class="col-8 text-left">
        <h3>{{algo.Name}}</h3>
      </div>
      <div class="col-4 text-right">
        <button class="btn btn-primary" (click)="tryAlgo()">Try Algo</button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <span class="text-muted">Author:</span> <span class="ml-3">{{algo.Author}}</span>
      </div>
      <div class="col-4">
        <span class="text-muted">Users:</span> <span class="ml-3">{{algo.UsersCount}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <span class="text-muted">Popularity rating:</span>
        <span class="d-inline-flex ml-3">
          <star-rating-comp [rating]="algo.Rating"
                            [starType]="'svg'"
                            [numOfStars]="6"
                            [showHalfStars]="true"
                            [staticColor]="'default'"
                            [readOnly]="true">
          </star-rating-comp>
        </span>
      </div>
      <div class="col-4">
        <span class="text-muted">Description:</span> <span class="ml-3">{{algo.Description}}</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="main-content">
    <div class="row">
      <div class="col-8">
        <app-code-editor [config]="{sourceCode: algo.Data}" (onInitCompleted)="onEditorCreated($event)"></app-code-editor>
      </div>
      <div class="col-4">
        <div class="metadata-holder">
          <app-algo-metadata [metadata]="algo.AlgoMetaDataInformation" (onHighlight)="highlight($event)"></app-algo-metadata>
        </div>
      </div>
    </div>
  </div>
</div>
