<div class="container" *ngIf="algo">
  <div class="details-holder mt-60">
    <div class="row mb-2">
      <div class="col-8 text-left">
        <h3>{{algo.Name}}</h3>
      </div>
      <div class="col-4 text-right" *ngIf="permissions.canRunInstance">
        <a class="btn btn-primary" [routerLink]="['/store', 'algo-run', algo.ClientId, algo.AlgoId]">Try Algo</a>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <span class="text-muted">Author:</span> <span class="ml-3">{{algo.Author}}</span>
      </div>
      <div class="col-4">
        <span class="text-muted">Users:</span> <span class="ml-3">{{algo.UsersCount}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4" *ngIf="permissions.canSeeAlgoRating">
        <span class="text-muted">Popularity rating:</span>
        <span class="d-inline-flex ml-3">
          <app-star-rating-comp [rating]="algo.Rating"
                            [starType]="'svg'"
                            [numOfStars]="6"
                            [showHalfStars]="true"
                            [staticColor]="'default'"
                            [readOnly]="true">
          </app-star-rating-comp>
        </span>
        <span class="text-muted rated-users-count">{{algo.RatedUsersCount}}<span> <img src="../../../assets/images/rating-count-avatar-icon.svg"></span></span>
      </div>
      <div class="col-4">
        <span class="text-muted">Description:</span> <span class="ml-3">{{algo.Description}}</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="main-content">
    <div class="row">
      <div class="col-8">
        <app-code-editor [config]="{sourceCode: algo.Data}"
                         (onInitCompleted)="onEditorCreated($event)"></app-code-editor>
        <div class="rating-holder text-left" *ngIf="permissions.canEditAlgoRating">
          <span>Rate algo:</span>
          <span class="d-inline-flex">
            <app-star-rating-comp [rating]="myRating.Rating"
                              [starType]="'svg'"
                              [numOfStars]="6"
                              [showHalfStars]="true"
                              [staticColor]="'default'"
                              (onClick)="onRatingChange($event)">
            </app-star-rating-comp>
          </span>
        </div>
        <div class="comments-holder mt-5" *ngIf="permissions.canSeeComments">
          <app-algo-comments [comments]="comments" [algoId]="algo.AlgoId"></app-algo-comments>
        </div>
      </div>
      <div class="col-4">
        <div class="metadata-holder">
          <app-algo-metadata [metadata]="algo.AlgoMetaDataInformation"
                             (onHighlight)="highlight($event)"></app-algo-metadata>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader [ready]="algo"></app-loader>
