<div class="home-placeholder text-center table">
  <div class="row table-cell">
    <div class="col-md-12">
      <img src="assets/images/lykke.png" alt="Lykke AlgoStore">
      <h1>Algo Store</h1>
      <p class="mt-50 mb-75">
        Lykke's Algo Store allows you to design, deploy, and analyse your own automated <br>trading strategies right from your web browser
      </p>
      <button (click)="openAnAccount()" class="button button-blue text-uppercase">Open an account</button>
    </div>
  </div>
</div>
