@import '~scss/reuse';

.splitter-wrapper {
  height: calc(100vh - #{$navbar-height-md});
}

ul.dropdown-menu {
  left: 130px !important;
  top: 60% !important;
}

.action-buttons, .fs-1r {
  font-size: 1rem;
}

.instance-type-badge {
  width: 55px;
  height: 24px;
  border-radius: 4px;
  color: $white;
  background-color: $azure;
  padding: 4px 10px;
  margin-right: 10px;
}

.nav-tabs {
  background-color: red;
}

.container.tabs {
  padding: 0;
}

textarea {
  width: 100%;
  border: none;
}

td {
  font-size: 1rem;
  color: $cool-grey;
}

th {
  font-weight: normal;
  font-size: 1rem;
  color: $dark;
}

.stat-key {
  font-size: 1rem;
  color: $cool-grey;
}

.stat-value {
  font-size: 1rem;
  color: $slate;
}
