<div class="splitter-wrapper">
  <split direction="vertical">
    <split-area size="50">
      <div class="container">
        <div class="details-holder mt-60">
          <div class="row">
            <div class="col-8 text-left">
              <h3>{{instance.Name}}</h3>
            </div>
            <div class="col-4 text-right action-buttons">
              <span dropdown class="ml-3 cursor-pointer text-muted" *ngIf="instance.Type === 'Demo'">
                <img src="../../../assets/images/store/play-run-icon.svg">
                <span dropdownToggle>Go Live</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <li *ngFor="let wallet of wallets">
                    <a class="dropdown-item" href="javascript:;" (click)="goLive(wallet)"><img
                      src="../../../assets/images/store/wallet-icon.svg"><span class="ml-1">{{wallet.Name}}</span></a>
                  </li>
                </ul>
              </span>
              <span class="ml-3 cursor-pointer text-muted" (click)="stopInstance()"
                    *ngIf="instance.Status === 'Running'"><img src="../../../assets/images/store/stop-icon.svg"> <span>Stop</span></span>
              <span class="ml-3 cursor-pointer text-muted" (click)="startInstance()"
                    *ngIf="instance.Status === 'Stopped'"><img
                src="../../../assets/images/store/play-run-icon.svg"> <span>Start</span></span>
              <span class="ml-3 cursor-pointer text-muted" (click)="delete()"><img
                src="../../../assets/images/store/delete-icon.svg"> <span>Delete</span></span>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 action-buttons">
              <span class="instance-type-badge">{{instance.Type}}</span>
              <span>{{instance.Date}}</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="main-content">
          <div class="row">
            <div class="col-8">
              <app-code-editor [config]="{sourceCode: algo.Data}"
                               (onInitCompleted)="onEditorCreated($event)"></app-code-editor>
            </div>
            <div class="col-4">
              <div class="metadata-holder">
                <app-algo-metadata [metadata]="algo.AlgoMetaDataInformation"
                                   (onHighlight)="highlight($event)"></app-algo-metadata>
              </div>
            </div>
          </div>
        </div>
      </div>
    </split-area>
    <split-area size="30">
      <div class="container tabs">
        <tabset #instanceTabs>
          <tab heading="Log">
            Logs
          </tab>
          <tab heading="Statistics">
            Statistics
          </tab>
          <tab heading="Trades">
            Trades
          </tab>
        </tabset>
      </div>
    </split-area>
  </split>
</div>
