<div class="splitter-wrapper">
  <split direction="vertical">
    <split-area size="70">
      <div class="container">
        <div class="details-holder mt-60">
          <div class="row">
            <div class="col-8 text-left instance-name-holder">
              <div class="row">
                <div class="col-11 align-self-center">
                  <h3>{{instance.Name}}</h3>
                </div>
                <div class="col-1 text-right align-self-center cursor-pointer edit-image-holder" (click)="edit()"  tooltip="Click to edit." placement="bottom"  container="body">
                  <img src="../../../assets/images/edit-icon.svg">
                </div>
              </div>
            </div>
            <div class="col-4 text-right action-buttons">
              <span dropdown class="ml-3 cursor-pointer text-muted" *ngIf="instance.Type === 'Demo'">
                <img src="../../../assets/images/store/play-run-icon.svg">
                <span dropdownToggle>Go Live</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <li *ngFor="let wallet of wallets">
                    <a class="dropdown-item" href="javascript:;" (click)="goLive(wallet)"><img
                      src="../../../assets/images/store/wallet-icon.svg"><span class="ml-1">{{wallet.Name}}</span></a>
                  </li>
                </ul>
              </span>
              <span class="ml-3 cursor-pointer text-muted" (click)="stopInstance()"
                    *ngIf="instance.Status === 'Running'"><img src="../../../assets/images/store/stop-icon.svg"> <span>Stop</span></span>
              <span class="ml-3 cursor-pointer text-muted" (click)="startInstance()"
                    *ngIf="instance.Status === 'Stopped'"><img
                src="../../../assets/images/store/play-run-icon.svg"> <span>Start</span></span>
              <span class="ml-3 cursor-pointer text-muted" (click)="delete()"><img
                src="../../../assets/images/store/delete-icon.svg"> <span>Delete</span></span>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 action-buttons">
              <span class="instance-type-badge" [ngClass]="{'live': instance.Type === 'Live'}">{{instance.Type}}</span>
              <span>{{instance.Date}}</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="main-content">
          <div class="row justify-content-center">
            <div class="col-9">
              <alert type="warning">
                <div class="row">
                  <div class="col-1 align-self-center">
                    <div class="image-holder">
                      <img src="../../../assets/images/alert-icon.svg" >
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="row">
                      <div class="col-12">
                        Your limit amount for trading is all spent
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 small-text">
                        You can go to Metadata Atributes and add more
                      </div>
                    </div>
                  </div>
                  <div class="col-3 align-self-center">
                    <div class="image-holder cursor-pointer text-right">
                      <img src="../../../assets/images/store/wallet-icon-white.svg" class="mr-2">
                      <span>Add more</span>
                    </div>
                  </div>
                </div>
              </alert>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <app-code-editor [config]="{sourceCode: algo.Data}"
                               (onInitCompleted)="onEditorCreated($event)"></app-code-editor>
            </div>
            <div class="col-4">
              <div class="metadata-holder">
                <app-algo-metadata [metadata]="algo.AlgoMetaDataInformation"
                                   (onHighlight)="highlight($event)"></app-algo-metadata>
              </div>
            </div>
          </div>
        </div>
      </div>
    </split-area>
    <split-area size="30">
      <div class="container tabs">
        <tabset #instanceTabs>
          <tab heading="Log">
            <textarea name="algo-instance-log" rows="20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis provident tempora voluptatem!
            </textarea>
          </tab>
          <tab heading="Statistics">
            <div class="stats-holder">
              <div class="row">
                <div class="col-4 mb-2" *ngFor="let stat of stats">
                  <span class="stat-key">{{stat.Name}}</span> : <span class="stat-value">{{stat.Value}}</span>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Trades">
            <table class="table">
              <thead>
              <tr>
                <th>Date</th>
                <th>Asset</th>
                <th>Price</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Operation</th>
                <th>Status</th>
              </tr>

              </thead>
              <tbody>
              <tr *ngFor="let trade of trades">
                <td>{{trade.Date}}</td>
                <td>{{trade.Asset}}</td>
                <td>{{trade.Price}}</td>
                <td>{{trade.Type}}</td>
                <td>{{trade.Quantity}}</td>
                <td>{{trade.Operation}}</td>
                <td>{{trade.Status}}</td>
              </tr>
              </tbody>
            </table>
          </tab>
        </tabset>
      </div>
    </split-area>
  </split>
</div>
