<div class="container text-center mt-200">
  <div class="row mt-3">
    <div class="col-12">
      <div class="image-holder">
        <img src="../../../assets/images/404-icon.svg">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <h2>Oops! Page not found</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <p>This content has been moved or is no longer available. If you have any other problem contact ous support: <a href='mailto:support@lykke.com'>support@lykke.com</a></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-primary">Go home</button>
    </div>
  </div>
</div>
