<div class="code-holder mb-3">
  <div class="row">
    <div class="col-10 text-left">
      <h5 class="d-inline-block">Source code</h5>
      <span *ngIf="!config.readOnly" tooltip="Use Ctrl + Alt + H to show keyboard shortcuts"><img src="../../../assets/images/info.svg" class="info-icon cursor-pointer"></span>
    </div>
    <div class="col-2 text-right">
      <span><ui-switch size="small" (click)="onThemeChange()"></ui-switch></span>
    </div>
  </div>
  <div class="ace-editor-holder" [hidden]="!config.sourceCode && config.readOnly">
    <ace-editor [(text)]="config.sourceCode" [mode]="config.mode" [readOnly]="config.readOnly" id="editor"></ace-editor>
  </div>
  <app-loader [small]="true" [ready]="config.sourceCode || !(config.readOnly && !config.sourceCode)"></app-loader>
</div>
