@import "~scss/reuse";

.navbar, .user-navbar {
  height: $navbar-height;
}

.user-navbar {
  background-color: $gray-200;
}

@include media-breakpoint-up(xs) {
  .navbar .algo-store-logo {
    height: $navbar-logo-height-xs;
  }
}

@include media-breakpoint-up(sm) {
  .navbar {
    .algo-store-logo {
      height: $navbar-logo-height-md;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    height: $navbar-height-md;
  }

  .user-navbar {
    height: $navbar-height;
  }
}
