<div class="container">
  <div class="summary-holder mt-5">
    <div class="row">
      <div class="col-6">
        <h2>Instances</h2>
        <div class="description">
          Here you can find  all running instances and review their history log, statistics and trades.
        </div>
      </div>
      <div class="offset-2 col-4 mt-3">
          <span class="total-instances">TOTAL INSTANCES</span>
          <div class="instance-total-count">
            {{instancesCount}}
          </div>
          <div class="instances-categories">
            <div>
              <span class="instance-type">Live:</span> <span class="instance-count text-muted">{{liveCount}}</span>
            </div>
            <div>
              <span class="instance-type">Demo:</span> <span class="instance-count text-muted">{{demoCount}}</span>
            </div>
            <div>
              <span class="instance-type">Backtest:</span> <span class="instance-count text-muted">{{testCount}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="categories mt-5">
    <tabset class="instances-tabs" #instanceTabs>
      <tab customClass="Live" (select)="onSelect($event)">
        <ng-template tabHeading>
          <span><i *ngIf="hasTabLoader && heading === 'Live'" class="icon--spin animate-spin"></i>Live</span>
        </ng-template>
        <div class="row">
          <div class="offset-8 col-4">
            <app-search-field [placeholder]="'Type to filter by name, date or wallet'" [searchFunc]="updateFilterLive.bind(this)" [instanceSearch]="true"></app-search-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-instances-table [instances]="instances[iAlgoInstanceType.Live]" [isLive]="true"></app-instances-table>
          </div>
        </div>
      </tab>
      <tab customClass="Demo" (select)="onSelect($event)">
        <ng-template tabHeading>
          <span><i *ngIf="hasTabLoader && heading === 'Demo'" class="icon--spin animate-spin"></i>Demo</span>
        </ng-template>
        <div class="row">
          <div class="offset-8 col-4">
            <app-search-field [placeholder]="'Type to filter by name or date'" [searchFunc]="updateFilterDemo.bind(this)" [instanceSearch]="true"></app-search-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-instances-table [instances]="instances[iAlgoInstanceType.Demo]"></app-instances-table>
          </div>
        </div>
      </tab>
      <tab customClass="Backtest" (select)="onSelect($event)">
        <ng-template tabHeading>
          <span><i *ngIf="hasTabLoader && heading === 'Backtest'" class="icon--spin animate-spin"></i>Backtest</span>
        </ng-template>
        <div class="row">
          <div class="offset-8 col-4">
            <app-search-field [placeholder]="'Type to filter by name or date'" [searchFunc]="updateFilterTest.bind(this)" [instanceSearch]="true"></app-search-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-instances-table [instances]="instances[iAlgoInstanceType.Test]"></app-instances-table>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
