<div class="modal-body text-center">
  <div class="row mt-2 mb-2">
    <div class="col-8 offset-2">
      <h2>{{popupConfig?.title}}</h2>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-8 offset-2 text-muted">
      <p class="{{popupConfig?.textClass}}">{{popupConfig?.text}}</p>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-12 mb-3">
      <button class="btn btn-primary" (click)="onPopupCancel()">{{popupConfig?.btnCancelText}}</button>
    </div>
    <div class="col-12 mb-2">
      <a href="javascript:;" (click)="onPopupConfirm()">{{popupConfig?.btnConfirmText}}</a>
    </div>
  </div>
</div>
