<div class="container">
  <div class="summary-holder mt-5">
    <div class="row">
      <div class="col-6">
        <h2>My Algos</h2>
      </div>
      <div class="offset-4 col-2 align-self-center text-right">
        <button class="btn btn-primary btn-small" routerLink="/store/algo-create" *ngIf="permissions.canDuplicate">+ Create algo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="description">
          Here you can see all the algorithms that you created. You can easily edit, delete or duplicate an already created algo from the Actions column.
          By default, they are private and visible only by you, but if you make them public, they'll appear on the <a routerLink="/store/algo-list">Public Algos</a> page also.
        </div>
      </div>
      <div class="offset-2 col-4 align-self-end">
        <app-search-field [placeholder]="'Type to filter by name'" [searchFunc]="updateFilter.bind(this)"></app-search-field>
      </div>
    </div>
  </div>
  <div class="row mt-75">
    <div class="col-12">
      <ngx-datatable
        class="algo-table"
        columnMode="flex"
        [limit]="10"
        [reorderable]="false"
        [loadingIndicator]="loadingIndicator"
        [headerHeight]="50"
        [footerHeight]="'auto'"
        [rowHeight]="60"
        [rows]="algos">

        <ngx-datatable-column name="Name" prop="Name" [flexGrow]="2" [cellClass]="isBigger">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span class="text-truncate d-block">
              <p [routerLink]="['/store/algo-details', row.ClientId, row?.Id]" [tooltip]="value" container="body" class="link-style">{{ value }}</p>
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Description" prop="Description" [flexGrow]="3" [cellClass]="isBigger">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span class="text-truncate d-block">
              <p [tooltip]="value" container="body">{{value}}</p>
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Visibility" prop="AlgoVisibility" [flexGrow]="2">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span>{{value | algoVisibility}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Actions" [flexGrow]="2">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span dropdown container="body">
              <span class="cursor-pointer" dropdownToggle>
              <img src="../../../assets/images/actions-icon.svg">
              <ul *dropdownMenu class="dropdown-menu my-algos-menu">
                <li [routerLink]="['/store/algo-edit', row.ClientId, row?.Id]" *ngIf="permissions.canEditAlgo">
                 <a class="dropdown-item cursor-pointer"><img src="../../../assets/images/edit-icon.svg" class="mb-1"><span class="ml-1">Edit</span></a>
                </li>
                <li (click)="delete(row)" *ngIf="permissions.canDeleteAlgo">
                   <a class="dropdown-item cursor-pointer"><img src="../../../assets/images/store/delete-icon.svg" class="mb-1"><span class="ml-1">Delete</span></a>
                </li>
                <li (click)="duplicateAlgo(row)" *ngIf="permissions.canDuplicate">
                   <a class="dropdown-item cursor-pointer"><img src="../../../assets/images/store/duplicate-icon.svg" class="mb-1"><span class="ml-1">Duplicate</span></a>
                </li>
              </ul>
            </span>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
