@import '~scss/reuse';


::ng-deep {
  ul.dropdown-menu.my-algos-menu {
    top: 65% !important;
    left: auto !important;
  }

  .tooltip-inner {
    max-width: 500px;
  }

  .block-cell {
    .datatable-body-cell-label {
      display: block !important;
    }
  }
}

