@import '~scss/reuse';

::ng-deep {
  .nav-tabs {
    background-color: transparent;
    border-bottom: 1px solid #ebedf0;

    .nav-link:hover {
      border-color: transparent;
    }

    .nav-link.active {
      border: none;
      border-bottom: 1px solid $azure;
    }
  }
}

.image-holder {
  height: 100px;

  img {
    height: 100%;
  }
}
