<div class="instances-holder">
  <div class="row">
    <div class="col-8 pl-0">
      <h5>Running instances</h5>
    </div>
    <div class="col-4 pl-0 pr-0 text-right" *ngIf="instancesArray && instancesArray.length > 3">
      <span class="show-all-button font-weight-semibold" (click)="toggle()"><a href="javascript:;">{{showAll ? 'Show less' : 'Show all'}}</a></span>
      <span *ngIf="!showAll" tooltip="These may not be all instances. Click 'Show All' for more." container="body"><img src="../../../../assets/images/info.svg" class="info-icon cursor-pointer"></span>
    </div>
  </div>
  <div *ngIf="instancesArray">
    <div class="row instances-row" *ngFor="let instance of displayInstances">
      <div class="col-9 pl-0">
        <div class="instance-date cursor-pointer break-all" [routerLink]="['/store/algo-instance', clientId, algoId, instance.InstanceId]">{{instance.InstanceName}}</div>
        <div class="text-muted fs-1r">{{instance.AlgoInstanceType | instanceTypeName}} • {{instance.AlgoInstanceStatus | instanceStatusName}}</div>
      </div>
      <div class="col-3 text-center">
        <div *ngIf="instance.AlgoInstanceStatus === iAlgoInstanceStatus.Stopped && permissions.canDeleteInstance" class="delete-icon-holder cursor-pointer" (click)="deleteInstancePrompt(instance)"></div>
      </div>
    </div>
  </div>

  <div class="row top-border" *ngIf="instancesArray?.length === 0">
    <div class="col-12 mt-2">
      <span>No instances available.</span>
    </div>
  </div>

  <app-loader [ready]="instancesArray" [small]="true"></app-loader>
</div>
