@import '~scss/reuse';

.instances-holder {
  min-height: 150px;
}

.top-border {
  border-top: 1px solid $pale-grey;
}

.instances-row {
  border-bottom: 1px solid $pale-grey;
  border-top: 1px solid $pale-grey;
  padding: 10px 0;
  align-items: center;

  &:hover {
    background-color: $pale-grey-two;
  }

  .metadata-key {
    font-size: 1.125rem;
    font-weight: $font-weight-semibold;
  }
}

.show-all-button {
  font-size: 1.125rem;
}

.delete-icon-holder {
  background-image: url("../../../../assets/images/store/delete-symbol-icon.svg");
  justify-content: center;
  display: inline-flex;
  width: 10px;
  height: 10px;
  background-size: contain;

  &:hover {
    width: 30px;
    height: 30px;
    background-image: url("../../../../assets/images/store/delete-active-symbol-icon.svg");
  }
}

.action-buttons, .fs-1r {
  font-size: 1rem;
}
