<div class="modal-body">
  <div class="row ml-0 mr-0 mt-4">
    <div class="col-12">
      <h3>Backtest an algo</h3>
    </div>
    <div class="row ml-0 mr-0">
      <div class="col-12">
        <p>We will need some additional data before we proceed with the backtest. </p>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="algoInstanceForm">
      <div class="row ml-0 mr-0 mb-3">
        <div class="col-12">
          <div class="form-group">
            <label for="instance-name" class="font-weight-semibold">Name</label>
            <input type="text" name="name" id="instance-name" class="form-control" formControlName="instanceName" placeholder="My Moving Average Cross v1.0">
            <div *ngIf="algoInstanceForm.get('instanceName').invalid && algoInstanceForm.dirty"
                 class="text-danger">
              <div *ngIf="algoInstanceForm.get('instanceName').errors['required']">
                Please enter a name
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="font-weight-semibold">Start date</label>
            <app-date-time-picker controlName="instanceStartDate" [form]="algoInstanceForm" [config]="dpConfig"></app-date-time-picker>
            <div *ngIf="algoInstanceForm.get('instanceStartDate').invalid && algoInstanceForm.dirty"
                 class="text-danger">
              <div *ngIf="algoInstanceForm.get('instanceStartDate').errors['required']">
                Please enter a date
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="trade-asset" class="font-weight-semibold">{{tradeAsset}} balance</label>
            <input type="text" name="name" id="trade-asset" class="form-control" formControlName="tradeAssetBalance">
            <div *ngIf="algoInstanceForm.get('tradeAssetBalance').invalid && algoInstanceForm.dirty"
                 class="text-danger">
              <div *ngIf="algoInstanceForm.get('tradeAssetBalance').errors['required']">
                The balance is required
              </div>
              <div *ngIf="algoInstanceForm.get('tradeAssetBalance').errors['min']">
                The minimum balance is 0
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="asset-two" class="font-weight-semibold">{{assetTwo}} balance</label>
            <input type="text" name="name" id="asset-two" class="form-control" formControlName="assetTwoBalance">
            <div *ngIf="algoInstanceForm.get('assetTwoBalance').invalid && algoInstanceForm.dirty"
                 class="text-danger">
              <div *ngIf="algoInstanceForm.get('assetTwoBalance').errors['required']">
                The balance is required
              </div>
              <div *ngIf="algoInstanceForm.get('assetTwoBalance').errors['min']">
                The minimum balance is 0
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ml-0 mr-0 text-center">
        <div class="col-12 mb-3">
          <button type="submit" class="btn btn-primary">Backtest</button>
        </div>
        <div class="col-12">
          <a href="javascript:;" (click)="modalRef.hide()" class="link-style">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
