<div class="modal-body">
  <div class="row ml-0 mr-0 mt-4">
    <div class="col-12">
      <h3>Run {{isDemo ? 'Demo' : "Live"}} Instance</h3>
    </div>
    <div class="row ml-0 mr-0">
      <div class="col-12">
        <p>Give a name to the new instance of the algorithm. </p>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="runInstanceForm">
      <div class="row ml-0 mr-0 mb-3">
        <div class="col-12">
          <div class="form-group">
            <label for="instance-name" class="font-weight-semibold">Name</label>
            <input type="text" name="name" id="instance-name" class="form-control" formControlName="Name" placeholder="My Moving Average Cross v1.0">
          </div>
        </div>
      </div>
      <div class="row ml-0 mr-0 text-center">
        <div class="col-12 mb-3">
          <button type="submit" class="btn btn-primary">Run new instance</button>
        </div>
        <div class="col-12">
          <a href="javascript:;" (click)="modalRef.hide()" class="link-style">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
