app-algo-comments {
  .ql-size-huge {
    font-size: 2.5em;
  }

  .ql-size-large {
    font-size: 1.5em;
  }

  .ql-size-small {
    font-size: 0.75em;
  }

  blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }

  .ql-align-right.ql-direction-rtl {
    text-align: right;
    direction: rtl;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-justify {
    text-align: justify;
  }

  pre {
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;

    &.ql-syntax {
      background-color: #23241f;
      color: #f8f8f2;
      overflow: visible;
    }
  }

  @for $i from 1 through 8 {
    .ql-indent-#{$i}:not(.ql-direction-rtl) { padding-left: $i * 3em}
  }
}
