@import '~scss/reuse';

.custom-control-label::before {
  border: 1px solid $silver;

  &:hover {
    border-color: 1px solid $cool-grey-two;
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border: none
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $azure;
  border: none;
}

.nav-tabs {
  background-color: $pale-grey-two;
  border: none;

  .nav-item {
    border-radius: 4px;
    margin-right: 5px;
  }

  .nav-link, .nav-link.active {
    color: $black;
    font-weight: $font-weight-semibold;
  }
}

.alert {
  color: $white;
  border-radius: 8px;
}

.alert-warning {
  background-color: $mango;
}

.alert-success {
  background-color: $green;
}

.alert-danger {
  background-color: $orange-red;
}
