@import '~scss/reuse';

.custom-control-label::before {
  border: 1px solid $silver;

  &:hover {
    border-color: 1px solid $cool-grey-two;
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border: none
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $azure;
  border: none;
}

.nav-tabs {
  background-color: $pale-grey-two;
  border: none;

  .nav-item {
    border-radius: 4px;
    margin-right: 5px;
  }

  .nav-link, .nav-link.active {
    color: $black;
    font-weight: $font-weight-semibold;
  }
}

.alert {
  color: $white;
  border-radius: 8px;
}

.alert-warning {
  background-color: $mango;
}

.alert-success {
  background-color: $green;
}

.alert-danger {
  background-color: $orange-red;
}

.label {
  margin: 0 2px;
  display: inline-block;
  font-weight: 500;
  padding: 2px 5px 1px;
  line-height: 1.5384616;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  &.label-tiffany {
    background-color: #64a3d8;
    border-color: #64a3d8;
  }

  img {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}


