.ngx-datatable.algo-table, .ngx-datatable.instances-table {
	background:#FFF;

	&.striped {
		.datatable-row-odd {
			background: #eee;
		}
	}

  &.single-selection,
  &.multi-selection,
  &.multi-click-selection {
    .datatable-body-row {
			&.active,
			&.active .datatable-row-group {
				background-color: #304FFE;
        color: #FFF;
			}

			&.active:focus,
			&.active:focus .datatable-row-group {
				background-color: #2041EF;
        color: #FFF;
			}
    }
  }

  &:not(.cell-selection) {
    .datatable-body-row {

			&:focus,
			&:focus .datatable-row-group {
				background-color: #ddd;
			}
    }
  }

  &.cell-selection {
    .datatable-body-cell {

			&:focus,
			&:focus .datatable-row-group {
				background-color: #ddd;
			}

			&.active,
			&.active .datatable-row-group {
				background-color: #304FFE;
        color: #FFF;
			}

			&.active:focus,
			&.active:focus .datatable-row-group {
				background-color: #2041EF;
        color: #FFF;
			}
    }
  }

	/**
	 * Shared Styles
	 */
	.empty-row{
		 height:50px;
		 text-align: left;
		 padding: .5rem 1.2rem;
		 vertical-align: top;
		 border-top: 0;
	}

	.loading-row{
		 text-align: left;
		 padding: .5rem 1.2rem;
		 vertical-align: top;
		 border-top: 0;
	}

	/**
	 * Global Row Styles
	 */
	 .datatable-header,
	 .datatable-body {
		 .datatable-row-left {
       background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==) repeat-y 100% 0;
     }

		.datatable-row-right {
      background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==) repeat-y 0 0;
    }
	}

	/**
	 * Header Styles
	 */

		 .datatable-header-cell:not(.action-column) {
			.sort-btn {
        width: 18px;
        height: 18px;
        object-fit: contain;
        background: url("assets/images/sort-icon.svg") no-repeat;
        background-position-x: center;

        &.datatable-icon-up, &.datatable-icon-down {
          width: 7px;
          height: 18px;
          background-image: none;
        }
      }
		 }

	.datatable-header {
    background: $pale-grey-two;

    .datatable-header-cell {
      text-align: left;
      padding: .66rem 1.2rem;
      font-weight: 600;
      color: $black;
      vertical-align: bottom;

      .datatable-header-cell-wrapper {
        position: relative;
      }      

			&.longpress {
        .draggable::after {
          transition: transform 400ms ease, opacity 400ms ease;
          opacity: .5;
          transform: scale(1);
        }
			}

      .draggable::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -30px;
        height: 60px;
        width: 60px;
        background: #eee;
        border-radius: 100%;
        opacity: 1;
        filter: none;
        transform: scale(0);
        z-index: 9999;
        pointer-events: none;
      }

			&.dragging {
				.resize-handle {
					border-right: none;
				}
			}
    }

    .resize-handle {
      border-right:solid 1px #e0e0e0;
      cursor: col-resize !important;
      margin: 0 5px;
    }
  }

	/**
	 * Body Styles
	 */
	.datatable-body {
		.datatable-row-detail {
			background: #f5f5f5;
			padding: 10px;
    }

    .datatable-group-header {
      background: #f5f5f5;
      border-bottom: solid 1px #D9D8D9;
      border-top: solid 1px #D9D8D9;
    }

	  .datatable-body-row {
      border-bottom: 1px solid $pale-grey;
	    .datatable-body-cell {
	      text-align: left;
	      padding: .9rem 1.2rem;
	      vertical-align: top;
	      border-top: 0;
        color: $slate;
	      transition: width 0.3s ease;
        font-weight: 400;

        .datatable-body-cell-label {
          display: inline-block;
        }

        // cell active class
        // &.active {
        //  background: #0829e0
        // }
			}
	    .datatable-body-group-cell {
	      text-align: left;
	      padding: .9rem 1.2rem;
	      vertical-align: top;
	      border-top: 0;
        color: $slate;
	      transition: width 0.3s ease;
        font-size: 14px;
        font-weight: 400;
	    }
	  }

		.progress-linear {
		  display: block;
		  position: relative;
		  width: 100%;
		  height: 5px;
		  padding: 0;
		  margin: 0;
      position: absolute;

			.container {
			  display: block;
			  position: relative;
			  overflow: hidden;
			  width: 100%;
			  height: 5px;
			  -webkit-transform: translate(0,0) scale(1,1);
			  transform: translate(0,0) scale(1,1);
			  background-color: rgb(170,209,249);

				.bar {
				  transition: all .2s linear;
				  -webkit-animation: query .8s infinite cubic-bezier(.39,.575,.565,1);
				  animation: query .8s infinite cubic-bezier(.39,.575,.565,1);

				  transition: -webkit-transform .2s linear;
				  transition: transform .2s linear;
				  background-color: rgb(16,108,200);

				  position: absolute;
				  left: 0;
				  top: 0;
				  bottom: 0;
				  width: 100%;
				  height: 5px;
				}
			}
		}
	}

	/**
	 * Footer Styles
	 */
	.datatable-footer {
    color: $cool-grey-two;
    margin-top: 50px;

		.page-count{
			line-height: 50px;
			height:50px;
			padding: 0 1.2rem;
      display: none;
		}

		.datatable-pager {
      text-align: center;

			li {
	    	vertical-align: middle;

				&.disabled a {
					color: $cool-grey-two !important;
				}

				&.active a {
          color: $black;
				}
			}

			a {
				height: 22px;
				min-width: 24px;
				line-height: 22px;
				padding: 0 6px;
				border-radius: 3px;
				margin: 6px 3px;
				text-align: center;
				vertical-align: top;
				color: $cool-grey-two;
				text-decoration: none;
		    vertical-align: bottom;

				&:hover {
					color: $black;
				}
			}

			.datatable-icon-left,
			.datatable-icon-skip,
			.datatable-icon-right,
			.datatable-icon-prev{
        color: $battleship-grey;
				font-size:20px;
				line-height: 20px;
				padding:0 3px;
			}
		}
	}
}

.ngx-datatable.instances-table {
  .datatable-header {
    background-color: transparent;
    border-bottom: 1px solid #ebedf0;
  }
}

/**
 * Checkboxes
**/
.datatable-checkbox {
  position: relative;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;

  input[type='checkbox'] {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    outline:none;

    &:before {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      border: 2px solid #f2f2f2;
    }

    &:checked:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      height: .5rem;
      border-color: #009688;
      border-top-style: none;
      border-right-style: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      background: #fff;
      cursor: pointer;
    }
  }
}

/**
 * Progress bar animations
 */
@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(.3, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}
