<div class="container algo-list-placeholder pt-10 pb-30">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-20 mb-10">Public Algos</h2>
    </div>
  </div>

  <div class="row algo-list">
    <div class="table-responsive">
      <table class="table table-hover table-responsive" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Rating</th>
          <th>Usage</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let algo of dataSource">
          <td><a href="#" (click)="details(algo)"> <span tooltip="{{algo.Description}}">{{algo.Name}}</span> </a></td>
          <td>{{algo.Author}}</td>
          <td><star-rating-comp [rating]="algo.Rating" [starType]="'svg'" [numOfStars]="6" [showHalfStars]="true" [staticColor]="'default'" [readOnly]="true"></star-rating-comp><span [hidden]="true">{{algo.Rating}}</span></td>
          <td>{{algo.UsersCount}}</td>
        </tr>
        <tr *ngIf="dataSource?.length == 0">
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
