@import '~scss/reuse';

.no-data-available {
  text-align: center;
}

::ng-deep {
  .tooltip-inner {
    max-width: 500px
  }

  .block-cell {
    .datatable-body-cell-label {
      display: block !important;
    }
  }
}
